body {
    background-color: lightgrey;
}

.container {
    margin: 30px;
}

.row {
    background-color: white;
    margin: auto;
}

#result {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

label {
    margin: 5px;
    padding: 2px;
}

input {
    margin: 10px;
    padding: 2px;
    width: 66%;
}

#submit {
    background-color: lightblue;
    color: black;
    margin: 10px;
    width: 65px;
    height: 26px;
}

.addon {
    /*border: 2px solid black;*/
    height: 80px;
    color: black;
    text-align: center;
    padding: 10px;
}

.red {
    color: red;
}