body{
    background-color: lightgrey;
}

.container{
    margin: 30px;
}

.row{
    background-color: white;
    margin: auto;
    width: 50%;
}

#result{
    display: flex;
    flex-direction: row;
}

label {
    margin: 5px;
    padding: 2px;
}
 input {
    margin: 10px;
    padding: 2px;
    width: 66%;
 }

#submit{
    background-color: lightblue;
    color: black;
 }